html, body
{
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: DM Sans;
  background-color: black;
}

.fillView{
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

a{
  color: white;
  text-decoration: none;
}


.icons{
  margin: 0px;
  padding: 0px;
}
.icons li, .icons a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
.icons img{
  width: 25px;
  padding: 7px;
}


.heroText{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 60%;
}

.homeHeader{
  font-size: 100px;
  /*animation: appearText 5s;
  animation-iteration-count: 1;*/
  margin: 0px;
  padding: 0px;
}
.homeTagline{
  /*animation: appearText 5s;
  animation-iteration-count: 1;*/
}

.heroImg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/NightSky.png'); /* The image used */
  background-color: black; /* Used if the image is unavailable */

  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 130% 130%; /* Resize the background image to cover the entire container */
  object-fit: fill;

  animation: shiningImage 1s;
}

.projectSection{
  height: 100%;
  position: relative;
}

#whereIsEleanorRose{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/eleanor_promo2_medium.jpg'); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
  object-fit: cover;

  animation: shiningImage 1s;
}

.projectHeader{
  font-size: 72px;
  margin: 0px;
  padding: 0px;
}
.projectSummary{
  font-weight: normal;
}
.projectLink{
  margin: 30px auto;  
  padding: 5px;
  font-weight: normal;
  cursor: pointer;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);

}
.projectLink:hover{
  font-weight: bold;
  text-shadow: 0 0 3px white;
  border-style: solid;
    border-color: white;
}

.topnav {
  overflow: hidden;
  position: fixed;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover{
  font-weight: bold;
  text-shadow: 0 0 3px white;
}
.topnav a.active {
  font-weight: bold;
  text-shadow: 0 0 3px white;
}

#footer{
  position: fixed;

  color: white;
  text-align: right;

  position: absolute;
  bottom: 8px;
  right: 14px;
}
#footer img{
  width: 20px;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 5%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  text-shadow: 0 0 3px white;
}
.projectSlides{
  position: relative;
}


@keyframes zoomImage {
  from {background-size: 100% 100%;}
  to {background-size: 130% 130%;}
}

@keyframes appearText {
  from {color: rgba(255, 255, 255, 0);}
  to {color: rgba(255, 255, 255, 1);}
}

@keyframes shiningImage {
  from {filter:brightness(5%);}
  to {filter:brightness(100%);}
}

@media screen and (max-width: 400px) {
  .topnav a {
	padding: 5px;
  }
}